<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="fixed_joint" params="name parent child origin_xyz origin_rpy">
      <joint name="${name}" type="fixed">
        <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
        <child link="${child}"/>
        <parent link="${parent}"/>
      </joint>
    </xacro:macro>

</robot>